html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
.css-716x40-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}
.text-size-menu .MuiMenu-list {
  padding: 30px !important;
}

.custom-input {
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 4px 12px;
  background-color: black;
  height: 35px;
  box-shadow: 0 0 1px #cacaca;
  width: 100% !important;
}
.checkBoxDatePicker {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #cacaca;
  padding: 4px 12px;
  border-left: 0;
  background-color: white;
  height: 38px;
  box-shadow: 0 0 1px #cacaca;
  width: 100% !important;
}
.custom-input:focus {
  outline: 1px solid #ff8a30;
}
.checkBoxDatePicker:focus {
  outline: 1px solid #ff8a30;
}
.rmdp-container {
  width: 100%;
}

li.MuiListItem-root.MuiListItem-gutters.nav-link.css-1lyvc6g-MuiListItem-root {
  padding: 0 !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-bottom: 0px !important;
}
.stock-qty {
  background-color: #f8393f15;
}
.custom-input {
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 4px 12px;
  background-color: white;
  height: 35px;
  box-shadow: 0 0 1px #cacaca;
  width: 100% !important;
}
.checkBoxDatePicker {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #cacaca;
  padding: 4px 12px;
  border-left: 0;
  background-color: white;
  height: 38px;
  box-shadow: 0 0 1px #cacaca;
  width: 100% !important;
}
.custom-input:focus {
  outline: 1px solid #ff8a30;
}
.checkBoxDatePicker:focus {
  outline: 1px solid #ff8a30;
}
.rmdp-container {
  width: 100%;
}

.css-8yodjg-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7.5px 13px !important;
}

.css-1ukp3w4-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-1ukp3w4-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-1ukp3w4-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px !important;
}

.css-r8u8y9 {
  padding-bottom: 0px !important;
}

.css-1ytto5q-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7.5px 13px !important;
}

.css-mw16e8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  padding: 7.5px 13px !important;
}

.css-ga9smd-MuiGrid-root {
  margin-bottom: -30px;
}

.css-952vcy-MuiCardContent-root:last-of-type {
  margin-top: -13px;
}

.css-hi54jv-MuiGrid-root > .MuiGrid-item {
  padding-left: 1.5rem;
  padding-top: 0.5rem;
}

.css-17bc0wb-MuiCardContent-root:last-of-type {
  padding-bottom: 12.5rem;
}

/* Filter */

.message-container {
  border: 1px solid #cacaca;
  margin: 5px;
  height: 0;
  overflow: hidden;
  border-radius: 5px;
  animation: expandAnimation 0.5s ease; /* Adjust the duration as needed */
}

.message-container.show {
  height: 110px;
}

@keyframes expandAnimation {
  from {
    height: 0;
  }
  to {
    height: 100px;
  }
}

.message-content {
  margin: 20px;
  /* margin-left: 20px; */
}

.css-1vt60ei-MuiGrid-root {
  margin-top: 0.5rem;
  margin-left: -0.5rem;
}

.vehicle-icon {
  width: 25px;
  height: 25px;
}

.vehicle-icon:hover {
  animation: bounceSpin 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@keyframes bounceSpin {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
